In [ ]:
#looping
# for loop
# while loop

<h1> For loop </h1>

In [ ]:

### for is keyword
# in operator = == is
# is -- identity operator

In [5]:
lst=[11,2,34,5,6,7,8]
for item in lst:
    print(item)

11
2
34
5
6
7
8

In [7]:
for x in "Rohit Kumar":
    print(x)

R
o
h
i
t

K
u
m
a
r

In [8]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for x in range(2,22,2):
    print(x)

2
4
6
8
10
12
14
16
18
20

In [11]:
my_dict={"name":"rohit kumar",
"classes":"second year",
"mob_no":12345667890
}

In [12]:
print()

In [13]:
print(my_dict)

{'name': 'rohit kumar', 'classes': 'second year', 'mob_no': 12345667890}

In [14]:
my_dict

{'name': 'rohit kumar', 'classes': 'second year', 'mob_no': 12345667890}

In [19]:
for items in my_dict.items():
    print(items)

('name', 'rohit kumar')
('classes', 'second year')
('mob_no', 12345667890)

In [20]:
for keys in my_dict.keys():
    print(keys)

name
classes
mob_no

In [21]:
for value in my_dict.values():
    print(value)

rohit kumar
second year
12345667890

In [22]:
tpl=(1,2,3,4,"ritik","ritik")
for x in tpl:
    print(x)

1
2
3
4
ritik
ritik

In [23]:
###while loop
x=0
while x<10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9

In [25]:
x=0
while x>10:
    print(x)
    x=x+1
    break

In [28]:
# break and continue
# pass --- its a placeholder


lst=[1,23,4,5,6]
for item in lst:
    if item==5:
        break
    print(item)

1
23
4

In [29]:
lst=[1,23,4,5,6]
for item in lst:
    if item==5:
        continue
    print(item)

1
23
4
6

In [39]:
for x in range(2,22,2):
    print(x)
    if x==10:
        continue

2
4
6
8
10
12
14
16
18
20

In [38]:
for x in range(2,22,2):
    if x==10:
        continue
    print(x)
    print("hello")
    print("hello")
    print("hello")

2
hello
hello
hello
4
hello
hello
hello
6
hello
hello
hello
8
hello
hello
hello
12
hello
hello
hello
14
hello
hello
hello
16
hello
hello
hello
18
hello
hello
hello
20
hello
hello
hello